@model ReporteTransaccionesDetalladas

@{
    ViewData["title"] = "Reporte Diario";
}
<partial name="_Submenu" Model="SubMenuTransacciones.Diario" />

<div class="mt-3 mb-3">
    <a asp-action="Crear" class="btn btn-primary">Crear Nueva Transacción</a>
</div>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />
